docs/build/
src/unusedcode.jl
src/research.jl
src/symplecticutils.jl
src/trellis_timing_results.txt
src/trellis_old.jl
src/todo_notes.txt
src/testgencs.jl
src/bounds_copy.jl
test/testcases.jl
exportTritrellises.jl
test.jld2
tricolorcodes*.jl
bipartite_solutions.txt
*.png
learninggit.txt
.DS_Store
docs/.DS_Store
*.txt
typestest.jl
simd_add_mul_wt_benchmarks.txt

# profiling output stuff:
*.pb.gz
*.mem

Manifest.toml
/.vscode
alg_geo_notes.jl
