docs/build/
src/unusedcode.jl
src/research.jl
src/symplecticutils.jl
src/trellis_timing_results.txt
src/trellis_old.jl
src/todo_notes.txt
src/testgencs.jl
src/bounds_copy.jl
test/testcases.jl
exportTritrellises.jl
test.jld2
test.png
tricolorcodes*.jl
bipartite_solutions.txt
fig.png
learninggit.txt
.DS_Store
*.txt
docs/.DS_Store
typestest.jl
Manifest.toml